@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <br />
        <h4>Listado de Proveedores</h4>
        <br />
        <table id="tabla">
            <thead>
                <tr>
                    <th>IdProveedor</th>
                    <th>RUC</th>
                    <th>Proveedor</th>
                    <th>Contacto</th>
                    <th>Direccion</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#tabla').DataTable({
            processing: true,
            serverSide: true,
            searching: true,
            ordering: true,
            paging: true,
            ajax: "Home/GetAll",
            columns: [
                { "data": "IdProveedor" },
                { "data": "RUC" },
                { "data": "Proveedor" },
                { "data": "Contacto" },
                { "data": "Direccion" }
            ]
        });
    });
</script>